.container {
  border-radius: var(--radius);
  border: 1px solid var(--color-border); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);


}

.toolbar {
  padding: 1rem 2rem;
  border-bottom:1px solid var(--color-border);
}